TELEGRAM_API_ID = 1111111
TELEGRAM_API_HASH = '012345678qwertyuiopasdfghjklzxcvbnm'
TELEGRAM_CHAT_ID = 1111111111
MONGODB_URI = "mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
DROPBOX_TOKEN = 'sl.qwertyuiopasdfghjklzxcvbnm'
DROPBOX_FOLDER = '/tg-messages-saver'